body {
    height: 10000px;
}
.square {
    width: 100px;
    height: 100px;
    background-color: darkgrey;
    position: relative;
}
.relative-box {
    position: relative;
    background-color: navy;
    top: 10px;
    left: 10px;
}
/* relative: 자신의 기본 위치(static)(원래 있었던 곳) 기준.*/
/* 따라서, relative일 때는 bottom: 0px, right: 0px이 의미가 없다. 제자리. */
/* relative로 움직이면 원래 있었던 공간이 유지된다. 아래쪽의 요소들이 자동으로 올라오거나 하지 않음. */
.absolute-box {
    position: absolute;
    background-color: red;
    top: 30px;
    left: 30px;
}
/* absolute: 가까이에 있는 조상 요소의 위치 기준. 
조상 요소가 static이 아니어야 한다. 
부모가 static이면 더 조상요소를 찾아간다. */
/* absolute로 이동하면 원래 있었던 공간이 유지되지 않는다. 아래쪽 요소들이 밀고 올라옴. */
.fixed {
    width: 100%;
    position: fixed;
    background-color: chocolate;
    bottom: 0;
    left: 0;
    height: 20px;
}
/* fixed: 브라우저의 viewport 기준으로 위치 이동. 화면 특정위치에 고정. */
/* sticky footer 등을 만들 때 사용 가능. */